body > .container { position: relative; }
.wizardBox {
	display: none;
	padding: 15px;
	box-shadow: 5px 5px 5px #555;
	-moz-box-shadow: 5px 5px 5px #555;
	-webkit-box-shadow: 5px 5px 5px #555;
	position: absolute;
	background: #fefefe;
	/*overflow: scroll;*/
	width: 33%; height: 33%;
	border: #666 1px solid;
}
#simpleWizard-0 { top: 0; left: 0; }
#simpleWizard-1 { top: 0; left: 33%; }
#simpleWizard-2 { top: 0; right: 0; }
#simpleWizard-3 { top: 33%; left: 0; }
#simpleWizard-4 { top: 33%; left: 33%; }
#simpleWizard-5 { top: 33%; right: 0; }
#simpleWizard-6 { bottom: 0; left: 0; }
#simpleWizard-7 { bottom: 0; left: 33%; }
#simpleWizard-8 { bottom: 0; right: 0; }
